/* Левый блок страницы  */
/* 
* {
  outline: 1px solid red;
} */

.result {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 16px;
  inline-size: 711px;
  flex: none;
  order: 0;
}

.result__video-container {
  position: relative;
  display: block;
  width: 100%;
}

.result__video {
  width: 100%;
  height: 386px;
  object-fit: cover;
}

.search-form {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: space-between;
  flex: none;
  order: 1;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  flex: none;
}

.search-form__textfield {
  min-inline-size: 225px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  flex: none;
  background-color: transparent;
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
}

/* .search-form__textfield:focus-visible {
  outline: none;
} */

.search-form__label {
  display: flex;
  gap: 5px;
  cursor: text;
}

.search-form__label:hover {
  text-decoration: underline 1px #fff;
  text-underline-offset: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #fff;
  inline-size: 15px;
  block-size: 15px;
  margin: 1px 0 0 1px;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  height: 34px;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline 1px #fff;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -2px;
}

.search-form__submit-button {
  width: 194px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  flex: none;
}
